### Pandas
#### (1) DataFrame 객체 : 2차원 배열, 서로 다른 자료형을 사용할 수 있다,                                    행(인스턴스), 열(컬럼,피쳐(feature))
#### (2) Series 객체 : 1차원 배열, 1차원 ndarray 와 호환

#### [1] 데이터프레임(DataFrame) 객체

In [1]:
# ! pip install pandas

import pandas as pd
import numpy as np

# 2차원 리스트, 배열을 사용하여 생성
df = pd.DataFrame([[1,2,3],
                   [4,5,6],
                   [7,8,9]])

print(type(df))
# print(df)
df

<class 'pandas.core.frame.DataFrame'>

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [2]:
# 사전(dict)을 사용하여 생성
score_table = { '성명': ['홍길동','김철수','김영희','나','너'],
                '국어': [50,60,70,80,90],
                '영어': [10,20,30,40,50],
                '수학': [70,80,90,30,20]}
# print(score_table,type(score_table))

df = pd.DataFrame(score_table)
print(type(df))
df

<class 'pandas.core.frame.DataFrame'>

    성명  국어  영어  수학
0  홍길동  50  10  70
1  김철수  60  20  80
2  김영희  70  30  90
3    나  80  40  30
4    너  90  50  20

In [3]:
df.shape   # (5,4)

(5, 4)

In [4]:
df.index  # 행의 index

RangeIndex(start=0, stop=5, step=1)

In [5]:
df.columns # 컬럼 이름 목록

Index(['성명', '국어', '영어', '수학'], dtype='object')

In [6]:
df.values # 전체 데이터를 추출, 문자와 숫자가 함께 사용 ==> 'object'

array([['홍길동', 50, 10, 70],
       ['김철수', 60, 20, 80],
       ['김영희', 70, 30, 90],
       ['나', 80, 40, 30],
       ['너', 90, 50, 20]], dtype=object)

### pandas 로 csv 파일 읽고 쓰기
* pd.read_csv('파일이름')
* pd.to_csv('파일이름')

In [72]:
# csv(comma separated values) : 쉼표로 데이터를 구분해놓은 텍스트 파일

df = pd.read_csv('WHO_first9cols.csv')
df
# NaN : Not a Number, 결측치

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total
0,Afghanistan,1,1,151.0,28.0,NaN,NaN,NaN,26088.0
1,Albania,2,2,27.0,98.7,6000.0,93.0,94.0,3172.0
2,Algeria,3,3,6.0,69.9,5940.0,94.0,96.0,33351.0
3,Andorra,4,2,NaN,NaN,NaN,83.0,83.0,74.0
4,Angola,5,3,146.0,67.4,3890.0,49.0,51.0,16557.0
...,...,...,...,...,...,...,...,...,...
197,Vietnam,198,6,25.0,90.3,2310.0,91.0,96.0,86206.0
198,West Bank and Gaza,199,1,NaN,NaN,NaN,NaN,NaN,NaN
199,Yemen,200,1,83.0,54.1,2090.0,65.0,85.0,21732.0
200,Zambia,201,3,161.0,68.0,1140.0,94.0,90.0,11696.0
201,Zimbabwe,202,3,101.0,89.5,NaN,88.0,87.0,13228.0

In [8]:
# csv 파일로 저장하기
df.to_csv('세계보건기구_9개컬럼.csv',index=False)
# index = False , 인덱스 값이 추가로 저장되지 않도록 설정

df2 = pd.read_csv('세계보건기구_9개컬럼.csv')
df2

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total
0,Afghanistan,1,1,151.0,28.0,NaN,NaN,NaN,26088.0
1,Albania,2,2,27.0,98.7,6000.0,93.0,94.0,3172.0
2,Algeria,3,3,6.0,69.9,5940.0,94.0,96.0,33351.0
3,Andorra,4,2,NaN,NaN,NaN,83.0,83.0,74.0
4,Angola,5,3,146.0,67.4,3890.0,49.0,51.0,16557.0
...,...,...,...,...,...,...,...,...,...
197,Vietnam,198,6,25.0,90.3,2310.0,91.0,96.0,86206.0
198,West Bank and Gaza,199,1,NaN,NaN,NaN,NaN,NaN,NaN
199,Yemen,200,1,83.0,54.1,2090.0,65.0,85.0,21732.0
200,Zambia,201,3,161.0,68.0,1140.0,94.0,90.0,11696.0
201,Zimbabwe,202,3,101.0,89.5,NaN,88.0,87.0,13228.0

In [9]:
df.shape

(202, 9)

In [10]:
len(df)

202

In [11]:
df.columns

Index(['Country', 'CountryID', 'Continent', 'Adolescent fertility rate (%)',
       'Adult literacy rate (%)',
       'Gross national income per capita (PPP international $)',
       'Net primary school enrolment ratio female (%)',
       'Net primary school enrolment ratio male (%)',
       'Population (in thousands) total'],
      dtype='object')

In [12]:
print(df.columns[0])    # 첫 번째 컬럼명
print(df.columns[1])
print(df.columns[8])
print(df.columns[-1])   # 마지막 컬럼명

Country
CountryID
Population (in thousands) total
Population (in thousands) total

In [13]:
df.index

RangeIndex(start=0, stop=202, step=1)

In [14]:
df.head()    # 앞 5 행만 출력
df.head(10)  # 앞 10 행만 출력

df.tail()    # 끝 5 행만 출력
df.tail(10)  # 끝 10 행만 출력

df.head(60)   # 60 개 까지는 모두 출력, 그 이상일 경우는 생략

pd.set_option('display.max_rows', 200) # 행의 출력 최대값을 200
df.head(200)
pd.set_option('display.max_rows', 60) # 행의 출력 최대값을 60
df.head(200)

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total
0,Afghanistan,1,1,151.0,28.0,NaN,NaN,NaN,26088.0
1,Albania,2,2,27.0,98.7,6000.0,93.0,94.0,3172.0
2,Algeria,3,3,6.0,69.9,5940.0,94.0,96.0,33351.0
3,Andorra,4,2,NaN,NaN,NaN,83.0,83.0,74.0
4,Angola,5,3,146.0,67.4,3890.0,49.0,51.0,16557.0
...,...,...,...,...,...,...,...,...,...
195,Vanuatu,196,6,92.0,75.5,3480.0,86.0,88.0,221.0
196,Venezuela,197,5,81.0,93.0,10970.0,91.0,91.0,27191.0
197,Vietnam,198,6,25.0,90.3,2310.0,91.0,96.0,86206.0
198,West Bank and Gaza,199,1,NaN,NaN,NaN,NaN,NaN,NaN
199,Yemen,200,1,83.0,54.1,2090.0,65.0,85.0,21732.0

In [15]:
#  DataFrame 을 행(row) 으로 접근 : 슬라이싱으로 행을 추출
#  df[start 행번호: end 행번호 + 1: step]
df[:5]     # df.head()
df[11:16]
df[::3]
df[::-1]   # 행을 역순으로 출력
df[0:1]

# 사용주의  ==> df.iloc[] 사용하면 해결
# df[0]    # KeyError
# df[3,1]  # KeyError
# df[3,:]  # KeyError

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total
0,Afghanistan,1,1,151.0,28.0,NaN,NaN,NaN,26088.0

In [16]:
# DataFrame 을 열(column)으로 접근
len(df.columns)    # 9
df['Country']      # 'Country' 컬럼을 Series객체로 추출, 1차원 배열
df[df.columns[0]]  #  0번 컬럼을 Series객체로 추출, 1차원 배열
df[df.columns[1]]  #  1번 컬럼을 Series객체로 추출, 1차원 배열

df[df.columns[8]]  #  8번 컬럼을 Series객체로 추출, 1차원 배열
df[df.columns[-1]] #  마지막 컬럼을 Series객체로 추출, 1차원 배열
df['Population (in thousands) total']

df.Country    # df['Country']  와 동일한 결과

0             Afghanistan
1                 Albania
2                 Algeria
3                 Andorra
4                  Angola
              ...
197               Vietnam
198    West Bank and Gaza
199                 Yemen
200                Zambia
201              Zimbabwe
Name: Country, Length: 202, dtype: object

In [17]:
sr = df['Country']       # Series 객체 : 1차원 배열(ndarray)과 호환
print(type(sr))

sr = df[df.columns[-1]]  # Series 객체 : 1차원 배열(ndarray)과 호환
print(type(sr))
sr

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

0      26088.0
1       3172.0
2      33351.0
3         74.0
4      16557.0
        ...
197    86206.0
198        NaN
199    21732.0
200    11696.0
201    13228.0
Name: Population (in thousands) total, Length: 202, dtype: float64

In [18]:
# 1개 컬럼의 요소 접근

# 인덱싱
print(df[df.columns[0]][0])
print(df['Country'][0])
print(df[df.columns[0]][201])

# print(df[df.columns[0]][-1])  # 주의 오류  , [-1] --> [-1:]

print(type(df[df.columns[0]][0]))    # str

# 슬라이싱
df[df.columns[0]][2:6]   # 2번 행부터 5번 행까지
df[df.columns[0]][:-1]   # 마지막 행은 제외
df[df.columns[0]][::3]   # 3개의 step으로 슬라이싱
df[df.columns[0]][-1:]   # 마지막 행만 추출
df[df.columns[0]][::-1]  # 행을 역순으로 출력

Afghanistan
Afghanistan
Zimbabwe
<class 'str'>

201              Zimbabwe
200                Zambia
199                 Yemen
198    West Bank and Gaza
197               Vietnam
              ...
4                  Angola
3                 Andorra
2                 Algeria
1                 Albania
0             Afghanistan
Name: Country, Length: 202, dtype: object

In [19]:
# 여러 개의 컬럼을 가져오기:여러개의 컬럼명을 리스트로 만들어서 인덱싱에 사용
df[['Country','CountryID','Continent']]            # DataFrame 추출
df[[df.columns[0],df.columns[1],df.columns[2]]]    # DataFrame 추출

# df[[df.columns[0],df.columns[1],df.columns[2]]][0]     # DataFrame이므로 오류
df[[df.columns[0],df.columns[1],df.columns[2]]][2:15:3]  # 슬라이싱

                Country  CountryID  Continent
2               Algeria          3          3
5   Antigua and Barbuda          6          4
8             Australia          9          6
11              Bahamas         12          4
14             Barbados         15          4

#### DataFrame의 요소 접근하기 : 읽기와 수정
* (1) df.loc[행번호,열]   :  명시적인 index
* (2) df.iloc[행번호,열]  :  묵시적인 index, 파이썬 스타일, int형 0부터 시작
* df.ix[ ] : 최신 버전에서 삭제됨

In [26]:
# df.loc[] 
df.loc[3,'Country']    # 3번 행, 0번 컬럼
df.loc[:3,'Country']   # start:end, end - 1 까지가 아님(주의)
df.loc[:3,['Country','CountryID','Continent']]

       Country  CountryID  Continent
0  Afghanistan          1          1
1      Albania          2          2
2      Algeria          3          3
3      Andorra          4          2

In [49]:
# df.iloc[] : column index를 int형으로 사용, 자주 사용됨!
df.iloc[3,0]
df.iloc[:4,:3] # start: end + 1
df.iloc[:4,[0,2,4]]

df.iloc[:,:-1]  # 마지막 컬럼을 제외  , X (독립변수)추출
df.iloc[:,-1]   # 마지막 컬럼만 추출  , Y (종속변수)추출 

# 요소 값의 변경
df.iloc[4,0] = 'Dorra'    # 'Andorra' --> 'Dorra'
df.iloc[4,0] = 'Andorra'  # 'Dorra'  --> 'Andorra'

# -1 사용 가능
df.iloc[-1,0]
df.iloc[0,-1]

26088.0

In [69]:
df2 = df                  # (1) view 처럼 메모리를 공유
df3 = df.copy()           # (2) copy , 별도의 메모리 사용
df4 = df.iloc[:,:3]       # (3) copy , 별도의 메모리 사용
# df4.iloc[0,0] =  'Afghanistan'
# df4

### DataFrame 통계 메서드

In [74]:
df.describe()    # 통계 요약

,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total
count,202.000000,202.000000,177.000000,131.000000,178.000000,179.000000,179.000000,1.890000e+02
mean,101.500000,3.579208,59.457627,78.871756,11250.112360,84.033520,85.698324,3.409964e+04
std,58.456537,1.808263,49.105286,20.415760,12586.753417,17.788047,15.451212,1.318377e+05
min,1.000000,1.000000,0.000000,23.600000,260.000000,6.000000,11.000000,2.000000e+00
25%,51.250000,2.000000,19.000000,68.400000,2112.500000,79.000000,79.500000,1.328000e+03
50%,101.500000,3.000000,46.000000,86.500000,6175.000000,90.000000,90.000000,6.640000e+03
75%,151.750000,5.000000,91.000000,95.300000,14502.500000,96.000000,96.000000,2.097100e+04
max,202.000000,7.000000,199.000000,99.800000,60870.000000,100.000000,100.000000,1.328474e+06

In [76]:
df.count()  # 결측치(NaN)가 아니 데이터의 총 갯수

Country                                                   202
CountryID                                                 202
Continent                                                 202
Adolescent fertility rate (%)                             177
Adult literacy rate (%)                                   131
Gross national income per capita (PPP international $)    178
Net primary school enrolment ratio female (%)             179
Net primary school enrolment ratio male (%)               179
Population (in thousands) total                           189
dtype: int64

### 통계 함수
* 평균(mean) : 모든 데이터의 값을 더하고 데이터의 갯수로 나눈 값, 중심 성향에 대한 추정량을 계산할 때 사용 
* 편차(deviation) : 관측값과 평균 값과의 차이,(데이터 값 - 평균), 양수나 음수의 값을 갖는다
* 분산(variance) : 편차의 제곱의 합의 평균, 음수값이 양수로 더해진다, 실제값보다 너무 멀어져 있게 된다
* 표준편차(standard deviation) : 분산에 루트(제곱근)를 씌운 값

In [78]:
df.mad() # Mean Absolute Deviation ,평균 절대 편차

CountryID                                                    50.500000
Continent                                                     1.608960
Adolescent fertility rate (%)                                40.604616
Adult literacy rate (%)                                      16.556401
Gross national income per capita (PPP international $)     9600.489837
Net primary school enrolment ratio female (%)                13.094348
Net primary school enrolment ratio male (%)                  11.304017
Population (in thousands) total                           44131.698553
dtype: float64

In [80]:
df.mean()  # 평균

CountryID                                                   101.500000
Continent                                                     3.579208
Adolescent fertility rate (%)                                59.457627
Adult literacy rate (%)                                      78.871756
Gross national income per capita (PPP international $)    11250.112360
Net primary school enrolment ratio female (%)                84.033520
Net primary school enrolment ratio male (%)                  85.698324
Population (in thousands) total                           34099.640212
dtype: float64

In [83]:
df.median() #  중위수, 2사분위수(Q2)

CountryID                                                  101.5
Continent                                                    3.0
Adolescent fertility rate (%)                               46.0
Adult literacy rate (%)                                     86.5
Gross national income per capita (PPP international $)    6175.0
Net primary school enrolment ratio female (%)               90.0
Net primary school enrolment ratio male (%)                 90.0
Population (in thousands) total                           6640.0
dtype: float64

In [89]:
df.sum()
df.max()
df.min()
df.mode() # 최빈값, 빈도가 가장 높은 값
df.var()  # 분산
df.skew() # 비대칭도
df.kurt() # 첨도

CountryID                                                 -1.200000
Continent                                                 -1.217327
Adolescent fertility rate (%)                             -0.024918
Adult literacy rate (%)                                    0.368641
Gross national income per capita (PPP international $)     1.874507
Net primary school enrolment ratio female (%)              3.141412
Net primary school enrolment ratio male (%)                4.529979
Population (in thousands) total                           76.490920
dtype: float64

### DataFram을 조건식으로 검색

In [95]:
df[df > df.mean()]   # 불필요한 출력

# 올바른 검색 출력
df[df['Adolescent fertility rate (%)'] >
   df['Adolescent fertility rate (%)'].mean()]
# df['Adolescent fertility rate (%)'].mean() # 59.45762711864407

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total
0,Afghanistan,1,1,151.0,28.0,NaN,NaN,NaN,26088.0
4,Angola,5,3,146.0,67.4,3890.0,49.0,51.0,16557.0
6,Argentina,7,5,62.0,97.2,11670.0,98.0,99.0,39134.0
13,Bangladesh,14,7,135.0,47.5,1230.0,90.0,87.0,155991.0
17,Belize,18,5,90.0,70.3,7080.0,97.0,97.0,282.0
...,...,...,...,...,...,...,...,...,...
195,Vanuatu,196,6,92.0,75.5,3480.0,86.0,88.0,221.0
196,Venezuela,197,5,81.0,93.0,10970.0,91.0,91.0,27191.0
199,Yemen,200,1,83.0,54.1,2090.0,65.0,85.0,21732.0
200,Zambia,201,3,161.0,68.0,1140.0,94.0,90.0,11696.0
201,Zimbabwe,202,3,101.0,89.5,NaN,88.0,87.0,13228.0

In [101]:
# 성인 중에서 글을 읽을 수 있는 사람의 비율이 30% 미만인 행 추출
df[df['Adult literacy rate (%)'] < 30]

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total
0,Afghanistan,1,1,151.0,28.0,NaN,NaN,NaN,26088.0
27,Burkina Faso,28,3,131.0,23.6,1130.0,42.0,52.0,14359.0
34,Chad,35,3,193.0,25.7,1170.0,49.0,71.0,10468.0
71,Guinea,72,3,153.0,29.5,1130.0,66.0,77.0,9181.0
110,Mali,111,3,192.0,24.0,1000.0,54.0,67.0,11968.0
132,Niger,133,3,199.0,28.7,630.0,37.0,50.0,13737.0

In [107]:
type(df['Adult literacy rate (%)'])   # Series 객체
type(df[['Adult literacy rate (%)']]) # 컬럼이 하나인 DataFrame 객체

pandas.core.frame.DataFrame

In [108]:
# 조건식 2개 사용
df[(df['Adult literacy rate (%)'] > 30) & (df['Adult literacy rate (%)'] < 50)]

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total
13,Bangladesh,14,7,135.0,47.5,1230.0,90.0,87.0,155991.0
18,Benin,19,3,108.0,34.7,1250.0,73.0,87.0,8760.0
33,Central African Republic,34,3,157.0,48.6,690.0,38.0,53.0,4265.0
43,Cote d'Ivoire,44,3,132.0,48.7,1580.0,49.0,61.0,18914.0
58,Ethiopia,59,3,109.0,35.9,630.0,68.0,74.0,81021.0
122,Mozambique,123,3,185.0,38.7,660.0,73.0,79.0,20971.0
126,Nepal,127,7,106.0,48.6,1010.0,74.0,84.0,27641.0
137,Pakistan,138,7,24.0,49.9,2410.0,57.0,73.0,160943.0
158,Senegal,159,3,100.0,39.3,1560.0,70.0,71.0,12072.0
161,Sierra Leone,162,3,178.0,34.8,610.0,36.0,50.0,5743.0